<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Tecnologia</div>
        <div class="card-body">
          <form [formGroup]="formTecnologia" (ngSubmit)="addTecnologia()">
            <input
              formControlName="CodigoTec"
              type="text"
              class="form-control"
              placeholder="Codigo del Producto"
            />
            <input
              formControlName="RestauranteTec"
              type="text"
              class="form-control mt-3"
              placeholder="Restaurante"
            />
            <input
              formControlName="NombreTec"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre del Producto"
            />
            <input
              formControlName="MarcaTec"
              type="text"
              class="form-control mt-3"
              placeholder="Marca del Producto"
            />
            <input
              formControlName="CantidadTec"
              type="text"
              class="form-control mt-3"
              placeholder="Cantidad del articulos"
            />
            <input
              formControlName="DescripcionTec"
              type="text"
              class="form-control mt-3"
              placeholder="Descripcion"
            />
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formTecnologia.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="listtecnologia"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  

