<app-encabezado></app-encabezado>
<div class="container mt-3">
    <section>
      <h4>Listado de Bebidas</h4>
    </section>
    <section class="title mb-3">
      <input type="text" class="form-control" placeholder="Buscar...." id="searchInput" name="filterPost" [(ngModel)]="filterPost">
      <button type="button" class="btn btn-secondary" routerLink="/add-caja">Agregar Caja</button>
    </section>
    <table class="table table-dark table-hover text-center">
      <thead>
        <tr>
          <th scope="col">CodigoCaja</th>
          <th scope="col">CodigoRestaurante</th>
          <th scope="col">CodigoEmpleado</th>
          <th scope="col">Descripcion</th>
          <th scope="col">EntradaDeDinero</th>
          <th rowspan="1" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCaja| filterCaja: filterPost">
          <td>{{ item.CodigoCaja }}</td>
          <td>{{ item.CodigoRestaurante }}</td>
          <td>{{ item.CodigoEmpleado }}</td>
          <td>{{ item.Descripcion }}</td>
          <td>{{ item.EntradaDeDinero |currency}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" routerLink="/edit-caja/{{item.id}}">
              Editar
            </button>
            <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteCaja(item.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  


