<body>
  <div class="container-fluid" id="containerLogin">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">Ingrese sus datos</div>
        <div class="card-body">
          <form [formGroup]="formRegistro" (ngSubmit)="registro()">
            <input
              formControlName="Nombre"
              type="text"
              class="form-control mt-3"
              placeholder="Introduzca su nombre completo..."
            />
            <input
              formControlName="NombreUsuario"
              type="text"
              class="form-control mt-3"
              placeholder="Introduzca un nombre de usuario..."
            />
            <input
              formControlName="Contrasena"
              type="password"
              class="form-control mt-3"
              placeholder="Introduzca una contraseña..."
            />
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button type="submit" class="btn btn-primary btn-lg" id="aceptBtn">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button routerLink="" type="button" class="btn btn-danger btn-lg">
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
