<app-encabezado></app-encabezado>
<div class="row mt-4">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
      <div class="card-header text-center">{{ operacion }} Caja</div>
      <div class="card-body">
        <form [formGroup]="formCaja" (ngSubmit)="addCaja()">
          <input
            formControlName="CodigoCaja"
            type="text"
            class="form-control"
            placeholder="Codigo de la caja"
          />
          <input
            formControlName="CodigoRestaurante"
            type="text"
            class="form-control mt-3"
            placeholder="Codigo del Restaurante"
          />
          <input
            formControlName="CodigoEmpleado"
            type="text"
            class="form-control mt-3"
            placeholder="Codigo del Empleado"
          />
          <input
            formControlName="Descripcion"
            type="text"
            class="form-control mt-3"
            placeholder="Accion realizada en la caja"
          />
          <input
            formControlName="EntradaDeDinero"
            type="text"
            class="form-control mt-3"
            placeholder="Dinero utilizado en la accion"
          />
          <section class="row mt-3 text-center">
            <div class="col-lg-6">
              <button [disabled]="formCaja.invalid" type="submit" class="btn btn-primary btn-lg">
                Aceptar
              </button>
            </div>
            <div class="col-lg-6">
              <button
                routerLink="/listcaja"
                type="button"
                class="btn btn-danger btn-lg"
              >
                Cancelar
              </button>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>

