<div class="container mt-2">
  <section class="title">
    <h4>Listado de Empleados</h4>
    <button type="button" class="btn btn-secondary" routerLink="/add-empleado">Agregar Empleado</button>
  </section>
  <table class="table table-dark table-hover text-center">
    <thead>
      <tr>
        <th scope="col">CodigoEmpleado</th>
        <th scope="col">NombreEmpleado</th>
        <th scope="col">CodigoUsuario</th>
        <th scope="col">CodigoRestaurante</th>
        <th scope="col">Cedula</th>
        <th scope="col">Telefono</th>
        <th rowspan="1" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listEmpleados">
        <td>{{ item.CodigoEmpleado }}</td>
        <td>{{ item.NombreEmpleado }}</td>
        <td>{{ item.CodigoUsuario }}</td>
        <td>{{ item.CodigoRestaurante }}</td>
        <td>{{ item.Cedula }}</td>
        <td>{{ item.Telefono }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" routerLink="/edit-empleado/{{item.id}}">
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteEmpleado(item.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
