<app-encabezado></app-encabezado>
<div class="background-image">
  <div class="container">
    <div class="jumbotron">
      <section>
        <h4>Listado de Empleados</h4>
      </section>
      <section class="title mb-3">
        <div class="d-flex align-items-center">
          <input type="text" name="filterPost" class="form-control" placeholder="Buscar...." id="searchInput" [(ngModel)]="filterPost">
    <button type="button" class="btn btn-success" routerLink="/add-empleado">Agregar Empleado</button>
        </div>
      </section>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th scope="col">CodigoEmpleado</th>
            <th scope="col">NombreEmpleado</th>
            <th scope="col">CodigoUsuario</th>
            <th scope="col">CodigoRestaurante</th>
            <th scope="col">Cedula</th>
            <th scope="col">Telefono</th>
            <th rowspan="1" colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listEmpleados | filter:filterPost">
            <td>{{ item.CodigoEmpleado }}</td>
            <td>{{ item.NombreEmpleado }}</td>
            <td>{{ item.CodigoUsuario }}</td>
            <td>{{ item.CodigoRestaurante }}</td>
            <td>{{ item.Cedula }}</td>
            <td>{{ item.Telefono }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" routerLink="/edit-empleado/{{item.id}}">
                Editar
              </button>
              <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteEmpleado(item.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>