body {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/11/0b/b5/ff/photo2jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center; 
}
.container-fluid {
    padding: 20px;
    text-align: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Clase personalizada para hacer los campos de entrada más angostos */
.narrow-input {
    max-width: 210px;
    margin: 0 auto;
}

/* Espacio después del campo de contraseña */
.password-space {
    margin-bottom: 10px;
}