<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Mesa</div>
        <div class="card-body">
          <form [formGroup]="formMesa" (ngSubmit)="addMesa()">
            <input
              formControlName="CodigoMesa"
              type="text"
              class="form-control"
              placeholder="Codigo de Mesa"
            />
            <input
              formControlName="NombreMesa"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre de Mesa"
            />
            <input
              formControlName="NumeroMesa"
              type="text"
              class="form-control mt-3"
              placeholder="Numero de Mesa"
            />
            <input
              formControlName="CodigoRestaurante"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Restaurante"
            />
            <input
              formControlName="CantidadSillasMesa"
              type="text"
              class="form-control mt-3"
              placeholder="Cantidad de Sillas"
            />
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formMesa.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="/listmesa"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  
