<app-encabezado></app-encabezado>
<div class="background-image">
  <div class="container">
    <div class="jumbotron">
      <section>
        <h4 class="text-center">Mesas Disponibles</h4>
      </section>
      <section class="title mb-3">
        <div class="d-flex align-items-center"></div>
      </section>
      <div class="mesas-container">
        <div class="row">
          <div class="col-md-3" *ngFor="let index of [1, 2, 3, 4]">
            <div class="mesa" [routerLink]="['/food', index]">
              Mesa {{ index }}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3" *ngFor="let index of [5, 6, 7, 8]">
            <div class="mesa" [routerLink]="['/food', index]">
              Mesa {{ index}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
