<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Proveedores</div>
        <div class="card-body">
          <form [formGroup]="formProveedor" (ngSubmit)="addProveedor()">
            <input
              formControlName="CodigoProv"
              type="text"
              class="form-control"
              placeholder="Codigo del Proveedor"
            />
            <input
              formControlName="NombreProv"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre del Proveedor"
            />
            <input
              formControlName="ApellidoProv"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre del Producto"
            />
            <input
              formControlName="TelefonoProv"
              type="text"
              class="form-control mt-3"
              placeholder="Telefono del proveedor"
            />
            <input
              formControlName="CelularProv"
              type="text"
              class="form-control mt-3"
              placeholder="Celular del proveedor"
            />
           
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formProveedor.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="listproveedor"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  

