.background-image {
    background-image: url('https://d1f2ieqjc8iqzi.cloudfront.net/s3fs-public/2021-09/iStock-1249788942-1.jpg?VersionId=kDnpxY7I2MNWZXoaxMLaxCH5WG7CwuUq'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    position: relative;
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    color: #000; 
  }
  