body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/servicio-restaurante-1920x1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .jumbotron {
    background-color: rgba(255, 255, 255, 0.8); /* Agregamos un fondo semi-transparente al jumbotron para mejorar la legibilidad del texto */
    padding: 30px;
    color: #000; /* Cambia el color del texto para que sea legible */
  }
  