<app-encabezado></app-encabezado>
<div class="container mt-3">
    <section>
      <h4>Listado del Equipo y Utensilios</h4>
    </section>
    <section class="title mb-3">
      <input type="text" class="form-control" placeholder="Buscar...." id="searchInput" name="filterPost" [(ngModel)]="filterPost">
      <button type="button" class="btn btn-secondary" routerLink="/add-equipo">Agregar Equipo o utensilio</button>
    </section>
    <table class="table table-dark table-hover text-center">
      <thead>
        <tr>
          <th scope="col">CodigoEquipo</th>
          <th scope="col">NombreEquipo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">CodigoRestaurante</th>
          <th rowspan="1" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listEquipo | filterEquipo: filterPost">
          <td>{{ item.CodigoEquipo }}</td>
          <td>{{ item.NombreEquipo }}</td>
          <td>{{ item.Cantidad }}</td>
          <td>{{ item.Precio |currency}}</td>
          <td>{{ item.CodigoRestaurante }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm" routerLink="/edit-equipo/{{item.id}}">
              Editar
            </button>
            <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteEquipo(item.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

