<app-encabezado></app-encabezado>
<div class="background-image">
  <div class="container">
    <div class="jumbotron ">
      <div class="card mt-3 mb-3 col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center" style="width: 40rem" id="container">
        <div class="card-header bg-dark text-light"><h3>Reservación</h3></div>
        <div class="card-body">
          <form [formGroup]="formReservacion" (ngSubmit)="saveReserva()">
            <h5 class="card-title mt-3">Nombre Completo</h5>
            <input
              formControlName="NombreCompleto"
              type="text"
              class="form-control mt-3"
            />
            <h5 class="card-title mt-3">Fecha</h5>
            <input
              formControlName="Fecha"
              type="datetime-local"
              class="form-control mt-3"
            />
            <h5 class="card-title mt-3">Personas</h5>
            <select
              id="personas"
              class="form-control"
              formControlName="Personas"
            >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Reservar</button>
          </form>
        </div>
      </div>
      <div class="card mt-3 mb-3 col-lg-5 col-md-5 col-sm-5 col-xs-5 float-md-center" style="width: 77rem" id="container">
        <div class="card-header bg-dark text-light">
          <h3>Reservaciones a tu Nombre</h3>
        </div>
        <div class="card-body">
          <table class="table table-dark table-hover text-center">
            <thead>
              <tr>
                <th scope="col">CodigoReserva</th>
                <th scope="col">Fecha y Hora</th>
                <th scope="col">Nombre del Cliente</th>
                <th scope="col">Cantidad de Personas</th>
                <th scope="col">Cancelar Reserva</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listReservas">
                <td>{{ item.CodigoReserva }}</td>
                <td>{{ item.FechaHora | date : "dd/MM/yyyy, h:mm:ss aaa" }}</td>
                <td>{{ item.NombreCliente }}</td>
                <td>{{ item.CantidadPersonas }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger ms-2"
                    (click)="deleteReserva(item.id)"
                  >
                    <fa-icon [icon]="faCancel"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
