<app-encabezado></app-encabezado>
<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Equipo o Utensilio</div>
        <div class="card-body">
          <form [formGroup]="formEquipo" (ngSubmit)="addEquipo()">
            <input
              formControlName="CodigoEquipo"
              type="text"
              class="form-control"
              placeholder="Codigo del equipo o utensilio"
            />
            <input
              formControlName="NombreEquipo"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre del equipo o utensilio"
            />
            <input
              formControlName="Cantidad"
              type="text"
              class="form-control mt-3"
              placeholder="Cantidad de equipo o utensilios"
            />
            <input
              formControlName="Precio"
              type="text"
              class="form-control mt-3"
              placeholder="Precio del equipo o utensilio"
            />
            <input
              formControlName="CodigoRestaurante"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo del Restaurante"
            />
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formEquipo.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="/listbebida"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  


