<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Factura</div>
        <div class="card-body">
          <form [formGroup]="formFactura" (ngSubmit)="addFactura()">
            <input
              formControlName="FechaHoraFactura"
              type="datetime-local"
              class="form-control"
              placeholder="Fecha Hora Factura"
            />
            <input
              formControlName="CodigoCaja"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Caja"
            />
            <input
              formControlName="CodigoRestaurante"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Restaurante"
            />
            <input
              formControlName="CodigoEmpleado"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Empleado"
            />
            <input
            formControlName="EntradaDeDinero"
            type="text"
            class="form-control mt-3"
            placeholder="Entrada de Dinero"
          />
          <input
          formControlName="DescripcionFactura"
          type="text"
          class="form-control mt-3"
          placeholder="Descripcion de Factura"
        />             
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formFactura.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="/listfactura"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  