<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
        <div class="card-header text-center">{{ operacion }} Desechable</div>
        <div class="card-body">
          <form [formGroup]="formDesechable" (ngSubmit)="addDesechable()">
            <input
              formControlName="CodigoDesechable"
              type="text"
              class="form-control"
              placeholder="Codigo de Desechable"
            />
            <input
              formControlName="NombreDesechable"
              type="text"
              class="form-control mt-3"
              placeholder="Nombre de Desechable"
            />
            <input
              formControlName="CantidadDesechable"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Desechable"
            />
            <input
              formControlName="CodigoRestaurante"
              type="text"
              class="form-control mt-3"
              placeholder="Codigo de Restaurante"
            />           
            <section class="row mt-3 text-center">
              <div class="col-lg-6">
                <button [disabled]="formDesechable.invalid" type="submit" class="btn btn-primary btn-lg">
                  Aceptar
                </button>
              </div>
              <div class="col-lg-6">
                <button
                  routerLink="/listdesechable"
                  type="button"
                  class="btn btn-danger btn-lg"
                >
                  Cancelar
                </button>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  