<app-encabezado></app-encabezado>

<div class="container">
  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div class="menu">
        <div class="menu-item">
          <div class="menu-details">
            <h4>TEQUILA DON MIRO SILVER 750ML</h4>
            <p></p>
            <div class="price-quantity">
              <p class="price">Precio: ₡8,500</p>
              <div class="quantity">
                <label for="quantity-hamburguesa">Cantidad:</label>
                <input type="number" id="quantity-hamburguesa" name="quantity" min="1" value="1"
                  #cantidadInputHamburguesa>
              </div>
            </div>
          </div>
          <button class="add-button"
            (click)="addFood('TEQUILA', 8500, mesa, +cantidadInputHamburguesa.value)">Agregar</button>
        </div>

        <div class="menu-item">
          <div class="menu-details">
            <h4>WHISKY GLENMORANGIE 18 AÑOS EXTREMELY RARE B 700 ML</h4>
            <p> </p>
            <div class="price-quantity">
              <p class="price">Precio: ₡68,000</p>
              <div class="quantity">
                <label for="quantity-chifrijo">Cantidad:</label>
                <input type="number" id="quantity-chifrijo" name="quantity" min="1" value="1" #cantidadInputChifrijo>
              </div>
            </div>
          </div>
          <button class="add-button"
            (click)="addFood('WHISKY', 68000, mesa, +cantidadInputChifrijo.value)">Agregar</button>
        </div>

        <div class="menu-item">
          <div class="menu-details">
            <h4>CERVEZA IMPERIAL LIGHT LATA 350 ML</h4>
            <p></p>
            <div class="price-quantity">
              <p class="price">Precio: ¢1,700</p>
              <div class="quantity">
                <label for="quantity-churrasco">Cantidad:</label>
                <input type="number" id="quantity-churrasco" name="quantity" min="1" value="1" #cantidadInputChurrasco>
              </div>
            </div>
          </div>
          <button class="add-button"
            (click)="addFood('CERVEZA IMPERIAL', 1700, mesa, +cantidadInputChurrasco.value)">Agregar</button>
        </div>

        <div class="menu-item">
          <div class="menu-details">
            <h4>CERVEZA PILSEN 350ml</h4>
            <p></p>
            <div class="price-quantity">
              <p class="price">Precio: ¢1,700</p>
              <div class="quantity">
                <label for="quantity-chimichanga">Cantidad:</label>
                <input type="number" id="quantity-chimichanga" name="quantity" min="1" value="1"
                  #cantidadInputChimichanga>
              </div>
            </div>
          </div>
          <button class="add-button"
            (click)="addFood('CERVEZA PILSEN', 1700, mesa, +cantidadInputChimichanga.value)">Agregar</button>
        </div>

        <div class="menu-item">
            <div class="menu-details">
              <h4>BAVARIA LIGHT ONE WAY 350ML</h4>
              <p></p>
              <div class="price-quantity">
                <p class="price">Precio: ¢2,100</p>
                <div class="quantity">
                  <label for="quantity-chimichanga">Cantidad:</label>
                  <input type="number" id="quantity-chimichanga" name="quantity" min="1" value="1"
                    #cantidadInputChimichanga>
                </div>
              </div>
            </div>
            <button class="add-button"
              (click)="addFood('BAVARIA LIGHT', 1700, mesa, +cantidadInputChimichanga.value)">Agregar</button>
          </div>

          <div class="menu-item">
            <div class="menu-details">
              <h4>CERVEZA BAVARIA GOLD 350ml</h4>
              <p></p>
              <div class="price-quantity">
                <p class="price">Precio: ¢2,100</p>
                <div class="quantity">
                  <label for="quantity-chimichanga">Cantidad:</label>
                  <input type="number" id="quantity-chimichanga" name="quantity" min="1" value="1"
                    #cantidadInputChimichanga>
                </div>
              </div>
            </div>
            <button class="add-button"
              (click)="addFood('BAVARIA GOLD', 1700, mesa, +cantidadInputChimichanga.value)">Agregar</button>
          </div>
      </div>
    </div>

    <!-- Carrito de compras -->
    <div class="col-lg-6">
      <div class="card text-dark bg-light mb-3" style="max-width: 40rem">
        <div class="card-header text-center">Tu Pedido</div>
        <div class="card-body">
          <div class="background-image">
            <div class="container">
              <div class="jumbotron">
                <section>
                  <table class="table table-gray table-hover text-center">
                    <thead>
                      <tr>

                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listCart">

                        <td>{{ item.NombreProductoCart }}</td>
                        <td>{{ item.CantidadCart }}</td>
                        <td>{{ item.PrecioCart }}</td>
                        <td>
                          <button type="button" class="btn btn-danger btn-sm ms-2" (click)="deleteCart(item.id)">
                            Eliminar
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3"></td>
                        <td>
                          <h5>
                            Total:
                            {{ total | currency : "₡" : "symbol" : "1.2-2" }}
                          </h5>
                        </td>
                        <td>
                   
                            <button type="button" class="btn btn-success btn-lg mt-3" (click)="facturar1()">Facturar</button>

                        
                       </td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>