<app-encabezado></app-encabezado>
<div class="background-image">
    <div class="container">
      <div class="jumbotron">
        <h1>¡Bienvenido al Restaurante</h1>
        <p>
          Nuestro restaurante te ofrece una experiencia gastronómica única y
          deliciosa. Disfruta de una amplia variedad de platos elaborados con los
          mejores ingredientes.
        </p>
        <p>
          Ya sea que estés buscando un lugar para una comida íntima o para una
          celebración especial, estamos listos para atenderte y ofrecerte un
          servicio excepcional.
        </p>
        <p>¡Esperamos que disfrutes de tu visita!</p>
      </div>
    </div>
  </div>
  