<div class="row mt-4">
  <div class="col-lg-4 offset-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 40rem">
      <div class="card-header text-center">{{ operacion }} Empleado</div>
      <div class="card-body">
        <form [formGroup]="formEmpleado" (ngSubmit)="addEmpleado()">
          <input
            formControlName="CodigoEmpleado"
            type="text"
            class="form-control"
            placeholder="Codigo de Empleado"
          />
          <input
            formControlName="NombreEmpleado"
            type="text"
            class="form-control mt-3"
            placeholder="Nombre de Empleado"
          />
          <input
            formControlName="CodigoUsuario"
            type="text"
            class="form-control mt-3"
            placeholder="Codigo de Usuario"
          />
          <input
            formControlName="CodigoRestaurante"
            type="text"
            class="form-control mt-3"
            placeholder="Codigo de Restaurante"
          />
          <input
            formControlName="Cedula"
            type="text"
            class="form-control mt-3"
            placeholder="Cedula"
          />
          <input
            formControlName="Telefono"
            type="text"
            class="form-control mt-3"
            placeholder="Telefono"
          />
          <section class="row mt-3 text-center">
            <div class="col-lg-6">
              <button [disabled]="formEmpleado.invalid" type="submit" class="btn btn-primary btn-lg">
                Aceptar
              </button>
            </div>
            <div class="col-lg-6">
              <button
                routerLink="/listempleado"
                type="button"
                class="btn btn-danger btn-lg"
              >
                Cancelar
              </button>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>
